body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    color: #000;
    line-height: 1.2;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../font/PTSans/PTS75F.ttf');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../font/PTSans/PTS55F.ttf');
}

@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona/font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona/font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
    url('../font/symbols-sedona/font/symbols-sedona.woff?60737633') format('woff'),
    url('../font/symbols-sedona/font/symbols-sedona.ttf?60737633') format('truetype'),
    url('../font/symbols-sedona/font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: 400;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

.container {
    max-width: 1200px;
    min-width: 798px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #e2e2e2; 
    position: relative;
}

.clearfix:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.reason-title,.inform-title, .sub-header, .find-result, h3 {
    font-weight: 700;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

i {
    font-style: normal;
}
input:focus {
    outline: none;
}
/*Хидер*/
.main-nav {
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav li {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.main-nav a:hover {
    color: #81b3d2;
}

.main-nav a:active {
    color: #bcbcbc;
}
.current-page {
    color: #7f6d62;
}
.main-nav .current-page:hover {
    color: #6b5a50;
}
.main-nav .current-page:active {
    color: #d6d0cc;
}
.main-nav .logo {
    width: 8%;
    position: relative;
}

.logo a{
    position: absolute;
    top: -20px;
    right: 0;
    left: -17px;
    z-index: 4;
}

.main-nav .right {
    text-align: right;
}

.main-nav .left {
    text-align: left;
}


/*Конец Хидер*/

/*Логотип с изображением*/
.main-image { 	 
    background: url(../images/bgr_image.jpg) no-repeat 50% 30%;
    text-align: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 80px;
    position: relative;
}

.main-image:before {
    content: '';
    background: url(../images/under_bgr_image.png) no-repeat;
    background-size: 100% 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/*Конец Логотип с изображением*/

/*Контент Главная страница*/

.promo-text {
    margin: 55px auto;
    text-align: center;
}

.sub-header {
    line-height: 26px;
    width: 450px;
    margin: 55px auto;
    margin-bottom: 35px;
}

.col4{
    width: 33.333333%;
}

.col8 {
    width: 66.666666%;
}

.col4, .col8 {
    float: left;
    text-align: center;
    line-height: 21px;
}

.blue { 
    color: #fff;
    background-color: #81b3d2; 
    height: 255px;
    padding: 55px 45px; 
    padding-bottom: 0;
    box-sizing:  border-box;
}

.number {
    margin-top: 25px;
    margin-bottom: 20px;
}

.box-image {
    height: 255px;
    overflow: hidden;
    position: relative;  
}

.box-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: auto;
    vertical-align: middle;
    background-color: #9bb9cb;
}

.info {
    box-sizing:  border-box;
    padding: 55px 50px;
    padding-bottom: 0;
    height: 330px;
}

.inform-title {
    margin-bottom: 20px;
} 

.info .icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;   
}

.house { 
    background: url(../images/sprites.png) no-repeat 60% 100%;
}

.food { 
    background: url(../images/sprites.png) no-repeat 0 100%;
}

.souvenirs { 
    background: url(../images/sprites.png) no-repeat 30% 100%;
}

.gray {
    background-color: #eee;
    box-sizing:  border-box;
    padding: 50px 55px; 
    padding-bottom: 0;
    min-height: 255px;
}

.notice-promo {
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.notice-promo .notice {
    font-size: 30px;
    font-weight: 700;
    margin: auto;	
    margin-top: 60px;
    margin-bottom: 30px;
}

.notice-promo .small {
    margin: auto;
    margin-bottom: 48px;
}
/*Форма Поиск отеля Седона*/
.form-search-hotel {
    width: 565px;
    display: inline-block;
    background-color: #766357;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.form-search {
    width: 455px;
    margin: 0 auto;
    padding: 57px 56px;
    font-size: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    box-shadow: 0 3px 10px 2px #e1e1e1;
}
.search {
    position: relative;
}
.show {
    -webkit-animation: bounce .2s linear;
            animation: bounce .2s linear;
    display: block;
}
.show-error {
    -webkit-animation: shake .6s;
    animation: shake .6s;
}

@-webkit-keyframes bounce {
    0% {
    -webkit-transform: translateY(-396px);
            transform: translateY(-396px);
    }
     100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
    -webkit-transform: translateY(-230px);
            transform: translateY(-230px);
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
    20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
    20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.form-search span {
    font-weight: 700;
}

.date-move-in, .date-move-out {
    margin-bottom: 30px; 
    padding: 0;
    line-height: 0;
}

.date-move-in span, .date-move-out span {
    width: 95px;
    margin-right: 15px;
    margin-top: 18px;
}

.form-search span, .form-search input, .form-search i {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.form-search input {
    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 9px;
}
.form-search input[type="text"] {
    width: 332px;
    padding-left: 10px;
    position: relative;
}

.form-search input[type="text"]:hover {
    background-color: #ebebeb;
}

.form-search input[type="text"]:active {
    background-color: #fff;
    outline: 2px solid #e5e5e5; 
}

.icon-calendar:before {
    position: absolute;
    right: 65px;
    color: #c2c2c2;
    font-size: 18px;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 5px;
}

.people-amount {
    font-size: 0;
}

.people-amount input[type="text"] {
    width: 38px;
    padding: 10px 0;
    text-align: center;
}

.child, .adult {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.people-amount span {
    margin-top: 8px;
    font-size: 0;
}

.adult span {
    width: 95px;
    margin-right: 15px;
    font-size: 14px;
}

.child span  {
    width: 40px;
    margin-left: 50px;
    margin-right: 25px;
    font-size: 14px;
}

.icon-plus, .icon-minus { 
    background-color: #f2f2f2;
    padding: 7px 12px;
    color: #a9a9a9;
    cursor: pointer;
}

.icon-calendar:hover:before, .icon-plus:hover, .icon-minus:hover  {
    color: #000;
}

.icon-calendar:active:before, .icon-plus:active, .icon-minus:active  {
    color: #81b3d2;
}

button[type="submit"] {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 58px;
    background-color: #81b3d2;
    color: #fff;
    border: none;
    margin-top: 54px;
}

button[type="submit"]:hover {
    background-color: #669ec0; 
}

button[type="submit"]:active {
    background-color: #5496bd; 
    color: #73a9c9;
}

/*Конец Форма поиска отеля Седона*/

.location {
    line-height: 24px;
}

.map {
    height: 590px;
    background: url(../images/map.jpg) no-repeat -125px -30px;
    background-size: cover;	
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*Конец Контент Главная*/

/*Контент Страница Отель*/

/*Форма с фильтром*/
.options {
    background: url(../images/bgr_image_hotel.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 6%;
}

.options-form {
    color: #fff;
}
.left-aligned{
    float: left;
}

.right-aligned{
    float: right;
}
.options-title {
    font-size: 16px;
    font-weight: 700;
    line-height:17px;
    text-align:left;
}

.options-set{
    width: 20%; 
    margin-right:45px;
}

.options-set ul {
    padding-left: 27px;
}

.options-set li {
    padding-top: 25px;
    line-height:21px;
    position: relative;
    text-align: left;
}

.options-set li:last-child {
    padding-bottom: 3px;
}

.options-set i {
    color: #b5b5b5;
}
.options-set span {
    margin-left: 15px;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+i:before {
    content: '\2610'; 
    font-family: 'symbols-sedona';
    font-style: normal;
    font-size: 24px;
    position: absolute; 
    left: -29px;
    
}

input[type="checkbox"]:checked+i:before {
    content: '\2611'; 
    left: -27px;
}
i:hover {
    color: #fff;
}
input[type="checkbox"]:disabled+i {
    color: #6a6a6a;
}


/*Фильтр*/
.filter-wrapper {
    width: 328px;
    text-align:center;
}

.filter{
    padding-left: 10px;
    padding-top: 11px;
}

.booking {
    border: 2px solid #fff; 
    padding: 5px;
    padding-top:7px;
    font-size: 0;
}
.price {
    display: inline-block;
    vertical-align: top; 
    height: 20px;
    width: 50%;
    padding-left:48px;
    font-size: 14px; 
    text-align: center;
    box-sizing:  border-box;
}

.booking .price:last-child {
    border-left: 2px solid #fff;
    margin-left:1px;
    width:49%;
    padding-left:35px;
}

input[type="number"] {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 56px;
}

.scale {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
    height: 2px;
    background-color: #928381; 
}

.bar {
    width: 260px;
    height: 2px;
    background-color: #fff;
}

.range {
    position: relative;
    width: 100%;
    text-align: center;
}

.min-toggle, .max-toggle {
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    position: absolute;
    top: -10px;
    left: 0;
    cursor: pointer;
}

.max-toggle {
    left: 255px;
}

.min-toggle:hover,
.max-toggle:hover {
    background-color: #1c4f80;
}

input[type="submit"] {
    width: 135px;
    height: 35px;
    border: 2px solid #fff;
    background-color: transparent; 
    color: #fff;
    text-transform: uppercase;
    margin-top: 8px;
}
/*Конец Фильтр*/

/*Конец Форма с фильтром*/

.find {
    padding: 0 6%;
    border-bottom: 1px solid #e5e5e5;
}

.find-result {
    width: 135px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.left-level {
    float: left;
}

.middle {
    margin-left: 30px;
    width: 380px;
}

.sort-edit {
    display:inline-block;
    vertical-align: top;
    padding-top: 22px;
    padding-bottom: 20px;
}

.sort-edit li {
    display:inline-block;
    vertical-align: top;
    padding: 14px 0;
    margin-right: 28px;
    font-size: 12px;
}

.sort-edit li:first-child {
    margin-left: 24px;
}

.sort li.active {
    color: #92bdd8;
    border-bottom: none;
}

.sort a {
    color: #c6c6c6;
    font-size: 12px; 
    border-bottom: 1px dotted #92bdd8; 	 
}

.sort a:hover {
    color: #b3d1e4;
    border-bottom: 1px dotted #92bdd8;
}

.sort a:active {
    color: #000;
    border-bottom: none;
}

.icon-triangle {
    float: right;
    width: 140px;
    text-align: right;
    padding: 30px 0;
}

.icon-triangle i { 
    font-size: 22px;
    color: #ccc;
    margin-right: -6px;
} 

.icon-triangle i:hover {
    color: #000;
}
.icon-triangle i:active {
    color: #81b3d2; 
}
.icon-triangle .active-icon{ 
    color: #81b3d2;    
}
.selection {
    max-width: 1200px;
    min-width: 768px;
    padding: 30px 6%;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.selection:first-child {
    border-top: 1px solid #e5e5e5;
}

.hotel-image {
    width: 135px;
    height: 90px;
    background-color: #9bb9cb;
}

.title {
    margin-top: 8px;
    margin-bottom: 15px;
    line-height: 0;
}

.title:hover {
    color: #81b3d2;
}
.title:active {
    color: #b2b2b2;
}

.hotel-type {
    font-size: 0;
    margin-bottom: 12px;
}

.type, .price-limit {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 0;
    color: #696969;
}

.type {
    width: 108px; 
}

.price-limit {
    margin-left: 8px;
}

.extra, .book {
    display: inline-block;
    vertical-align: top;
    padding: 5px 17px;
    color: #fff;
    width: auto;
}

.extra {
    background-color: #81b3d2;
    margin-right: 2px;
}

.extra:hover {
    background-color: #669ec0;
}
.extra:active {
    background-color: #5496bd;
    color: #7aadcb;
}

.book {
    background-color: #766357;
}

.book:hover {
    background-color: #604e43;
}
.book:active {
    background-color: #503e33;
    color: #7e7169;
}
.rating {
    float: right; 
    width: 140px;
    text-align: right;
}

.icon-star-value {
    text-align: right;
}

.icon-star:before { 
    color: #81b3d2; 
    font-size: 18px;    
}

.rating-value {
    margin-top: 50px;
}

.rating-value span  {
    width: auto;
    padding-top: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 7px;
    background-color: #f2f2f2;
}
/*Конец Контент Отель*/

/*Футер*/
.main-footer {
    padding-top: 43px;
    padding-bottom: 32px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-footer-static {
    position: static;
    padding-top: 37px;
}

.footer-contacts {
    float: left;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    line-height: 0;
    padding: 0;
}

.footer-social {
    float: left;
    text-align: center;
    font-size: 0;
}

.footer-social a {
    display: inline-block;
    vertical-align: top;
    padding: 12px 13px;
    background-color: #81b3d2;
    margin-right: 5px;	
    font-size: 14px;
    line-height: 0;
}

.footer-social a:hover {
    background-color: #669ec0;
}   
.footer-social a:active {
    background-color: #5496bd;
}

.icon-twitter:before, .icon-facebook:before, .icon-youtube:before   { 
    font-size: 21px;
    color: #fff;
}
.icon-twitter:active:before, .icon-facebook:active:before, .icon-youtube:active:before {
    color: #88b6d1;
} 
.footer-copyright {
    float: left;
    text-align: center;
}

.footer-copyright span {
    margin-right: 7px;
}

.footer-copyright a:after {
    content: '';
    display: inline-block;
    width: 113px;
    height: 39px;
    vertical-align: middle;
    background: url(../images/sprites.png) 100% 0;
}

.footer-copyright a:hover:after {
    background: url(../images/sprites.png) 50% -1px;
}
.footer-copyright a:active:after {
    background: url(../images/sprites.png) -4px -9px;
}
/*Конец Футер*/


