body {
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	background: url("../images/bgd_content.png") repeat 50% 50%;
}

h1 {
    font-size: 30px; 
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none; 
	color: #000000;
}
li { 
    list-style: none;
}

p {
    margin: 0;
}

img {
  vertical-align: middle;
}
main.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 930px;
  padding: 0 5px;
  margin: 0 auto;
}
/*Хидер*/
.main-header {
  
  background-color: #000000; 
}
.main-nav {
  float: left;
  width: 750px;
  min-height: 20px;
  font-size: 0;
}

.enter {
  float: right;
  width: 70px;
  min-height: 20px;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  padding-left: 25px;
  background: url(../images/icon_login.png) no-repeat 0 50%;
}
.main-nav li {
  display: inline-block;
  vertical-align: center;
  padding-right: 40px;
  font-size: 16px;
  padding: 20px 0;
}
.main-nav a {
  padding-right: 20px;
  padding-left: 20px;
}
.main-nav li:hover {
  background-color: #242424;
}
 .main-nav .push:hover {
  background-color: #000000;
}
.push {
  position: relative;
}
.push:before {
  content: '';
  background-color: #ffffff;
  position: absolute;
  height: 4px;
  right: 20px;
  left: 20px;
  bottom: 0;
}
.main-header a {
  color: #ffffff;
}
/*Конец Хидер*/

/*Контент Каталог*/
ul {
  padding: 0;
  margin: 0;
}
.breadcrumbs {
  font-size: 0;
  margin-bottom: 40px;
}
.breadcrumbs li{
   display: inline-block;
   vertical-align: center;
   font-size: 14px;
   padding-right: 40px;
   position: relative;
}
.breadcrumbs li:after {
   content: '';
   width: 8px;
   height: 8px;
   background-color: #000000;
   transform: rotate(-45deg);
   position: absolute;
   top: 6px;
   right: 15px;
}
.breadcrumbs .active:after {
   display: none;
}
.breadcrumbs .active {
   color: #aba9a7;
}
.column-left {
   float: left;
   width: 220px;
   margin-right: 10px;
}
.column-right {
   width: 690px;
   float: right;
   margin-left: 10px;
}
.item {
   width: 220px;
   float: left;
   margin-right: 15px;
   margin-bottom: 15px;   
   background-color: #ffffff;
}
.item:nth-child(3n) {
   margin-right: 0;
}
.item-name {
   line-height: 18px;
   margin: 15px;
}
.item-name span {
  text-transform: none;
}
.item-price-buy p, .item-price-buy a {
  float: left; 
}
.item-price-buy {
  margin: 15px;
}
.item-price-buy p {
  float: left; 
  width: 60px;
  background-color: #e5e5e5;
  padding: 10px 25px;
  text-align: center;
}
.item-price-buy a {
  float: left; 
  width: 50px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
}
.column-left-title {
  margin-top: 0px;
}
.produce-company, .filter-item {
  margin-bottom: 15px;
}
.produce-company:last-child {
   margin-bottom: 40px;
}

input[type="checkbox"], input[type="radio"] {
   display: none;
}
label {
   padding-left: 43px;
   padding-top: 5px;
   padding-bottom: 5px;
}
input[type="checkbox"]+label {
   background: url(../images/checkbox.png) no-repeat 0 30%;  
}
input[type="checkbox"]:checked+label {
   background: url(../images/checkbox_checked.png) no-repeat 0 30%;  
}
input[type="radio"]+label {
   background: url(../images/radio.png) no-repeat 0 30%;  
}
input[type="radio"]:checked+label {
   background: url(../images/radio_checked.png) no-repeat 0 30%;  
}
input[type="submit"] {
   width: 110px;
   height: 40px;
   background-color: #000000; 
   border: 1px solid #000000;
   color: #ffffff;
   text-transform: uppercase;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   margin-top: 50px;
}
.pagination {
   clear: both;
}
.pagination ul {
   font-size: 0;
}
.pagination li {
   width: 43px;
   height: 43px;
   display: inline-block;
   margin-top: 40px;
   margin-right: 7px; 
   font-size: 14px;
   
}
.pagination a {
   background-color: #000000;
   color: #ffffff;
   padding: 10px 15px;
 }
 .pagination .active {
   background-color: transparent;
   color: #000000;
   text-align: center;
 }
/*Конец Контент Каталог*/

/*Контент Товар каталога*/

.column-left-item {
   width: 460px;
   float: left;
   margin-right: 90px;
/*   margin-top: 20px;*/
   
}
.column-right-item {
   width: 380px;
   float: left; 
/*   margin-left: 10px;
   margin-top: 20px;*/
}

.small-image li {
   width: 140px;
   height: 145px;
   margin-right: 20px;
   margin-top: 20px;
   float: left;
}
.small-image li:nth-child(3n) {
   margin-right: 0;
}
.main-image, .small-image li, .item {
   box-shadow: 0 0 10px #e4e1de;
   box-shadow: 0 0 10px 0 #e4e1de;
}
.availability p {
  float: left;
}
.articule {
  margin-left: 170px; 
  color: #c3c2c1;
}
.information  .item-price-buy {
  margin-left: 0;
}
.dicription {
  margin-top: 40px;
  margin-bottom: 40px;
} 
.kit-include {
  margin-top: 60px;
  margin-bottom: 30px;
}
.kit-list li {
   padding-left: 20px;
   position: relative;
}
.kit-list li:before {
   content: '';
   width: 8px;
   height: 8px;
   background-color: #000000;
   transform: rotate(-45deg);
   position: absolute;
   top: 8px;
   left: 0;
}
/*Конец Контент Товар каталога*/
/*Футер*/
.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url("../images/bgd_footer.png") repeat 50% 50%;
  color: #ffffff;
}
.main-footer a {
  color: #ffffff;
}
.footer-contacts {
  float: left;
  width: 310px;
  margin-right: 90px;
}
.footer-contacts a {
  text-decoration: underline; 
}

.footer-social {
  float: left;
  width: 140px;
  text-align: center;
}
.footer-social a {
 background-color:#000000;
 padding: 21px;
 display: inline-block;
 margin-right: 4px;
 margin-top: 15px;
}
.footer-social a:last-child {
  margin-right: 0;
}
.social-btn-vk {
  background: url(../images/icon_vk.png) no-repeat 50% 50%;
}
.social-btn-fb {
  background: url(../images/icon_fk.png) no-repeat 50% 50%;
}
.social-btn-inst {
  background: url(../images/icon_foto.png) no-repeat 50% 50%;
}
.footer-copyright {
  float: right;
  width: 140px;
  text-align: center;
}
.footer-copyright .btn {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #000000;  
}
/*Конец Футер*/